<!--The content below is only a placeholder and can be replaced.-->
<header class="deyanemo">
  <h1 class="headingtext">BeMoX App <i class="fa fa-hand-peace-o"></i></h1>
  <p>Welcome To What Did Happend in this Day Long time Ago</p>
</header>
<nav class="navbar navbar-inverse no_radius">
  <div class="navigation">
    <li class="items">
        <i (click)='birth()' class="fa fa-2x fa-birthday-cake"></i>            
    </li>
    <li class="items">
        <i (click)='death()' class="fa fa-2x fa-grav"></i>        
    </li>
    <li class="items">
        <i (click)='event()' class="fa fa-2x fa-calendar-o"></i>         
    </li>
  </div>
  <p class="status">{{status}}</p>
</nav>
<div>

    <div class="col-xs-6 col-md-3 item" *ngFor="let x of data">
      <div class="year">
        <h1>{{x.year}}</h1>
      </div>
        <div class="text">
          {{x.text}}
        </div>
</div>
